{% extends 'layout/main.twig' %}

{%  block content %}
    <h2>Projects</h2>

    <button>Create a new project</button>

    <ul class="project-list">
        {%  for project in projects %}
        <li>
            {% include 'partial/project-item.twig' with {
                "title" : project["project"].name ,
                "buildDate" : project["test"].dateBegin|date("Y-m-d H:i:s") ,
                "buildStatus" : project["test"].status,
                "hasTest"     : project["test"] ? true : false,
                "projectDate" : project["project"].creationDate|date("Y-m-d H:i:s") ,
            } %}
        </li>
        {% endfor %}


    </ul>
{% endblock %}