{% extends 'layout/main.twig' %}

{%  block content %}
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <h2>{{ project.name }}</h2>

    {% set test = tests[0] %}

    Last build : {{ test.dateBegin | date }}
    <br/>
    <br/>
    {% include 'partial/status-tag.twig' with {"buildStatus" : test.status } %}
    <br/>
    <br/>

    <pre style="
        font-family: 'Droid Sans Mono','Courier New',monospace;
        background: #262626;
        border-radius: 2px;
        margin: 5px;padding:5px;
        color:#EEE;
        ">
        {{- ansi_converter.convert(test.executionString) | raw -}}
    </pre>


{% endblock %}