<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>-Hatching-</title>
        <link href="/style.css" rel="stylesheet" type="text/css">

    </head>
    <body>

        <div id="top">
            <h1><a href="/">HATCHING</a></h1>
            <span>A SIMPLE WAY TO RUN TESTS</span>
        </div>


        <div id="body">
        {% block content %}

        {% endblock %}
        </div>


        <script type="text/javascript" src="/jquery.min.js"></script>
        <script type="text/javascript" src="/Hatching.js"></script>
        <script type="text/javascript" src="/locale.js"></script>
        <script type="text/javascript" src="/scripts.js"></script>

        {% block additionalScripts %}

        {% endblock %}

    </body>

</html>