<div class="sizer">
    <h3 class="project-title">{{ title }}</h3>
    <div class="build-info">
        {% if hasTest %}
            <span class="pre-info">Last build : </span>
            <span class="date auto-update-date">{{ buildDate }}</span>
            {% include 'partial/status-tag.twig' %}
        {% else %}
            <span class="pre-info">No test yet... </span>

            <span class="date">added <span class="auto-update-date">{{ projectDate }}</span></span>
        {% endif %}
    </div>

    <ul class="button-list">
        <li class="tag tag-medium">SOURCES</li>
        <li class="tag tag-medium tag-action">REBUILD</li>
        <li class="tag tag-medium tag-action">EDIT</li>
    </ul>

</div>