<div class="sizer">
    <h3 class="project-title">{{ title }}</h3>
    <div class="build-info">
        <span class="date auto-update-date">{{ buildDate }}</span>
        {%  if buildStatus is same as(null) %}
            <span class="tag">PENDING...</span>
        {% elseif buildStatus is same as(0) %}
            <span class="tag tag-success">SUCCESS</span>
        {% else %}
            <span class="tag tag-error">FAIL</span>
        {% endif %}
    </div>

    <ul class="button-list">
        <li class="tag tag-medium">SOURCES</li>
        <li class="tag tag-medium tag-action">REBUILD</li>
        <li class="tag tag-medium tag-action">EDIT</li>
    </ul>

</div>